{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well" align="center" style="margin-top: 70px;">
            {{.}}
          </div>
        {{ end }}


        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
       
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
